Source: specular
Section: utils
Priority: optional
Maintainer: bugra9 <bugra9@gmail.com>
Build-Depends: debhelper (>=9), wget, curl
Standards-Version: 3.9.8
Homepage: https://github.com/bugra9/specular
#Vcs-Git: git://github.com/bugra9/specular.git
#Vcs-Browser: https://github.com/bugra9/specular.git

Package: specular
Architecture: all
Depends: grub-pc-bin, grub-efi-ia32-bin, grub-efi-amd64-bin
Description: Create bootable usb drives
 Specular allows you to create bootable USB drives for Windows and Linux distributions.
