Source: specular-snapshot
Section: utils
Priority: optional
Maintainer: bugra9 <bugra9@gmail.com>
Build-Depends: debhelper (>=9), wget
Standards-Version: 3.9.8
Homepage: https://github.com/bugra9/specular
#Vcs-Git: git://github.com/bugra9/specular.git
#Vcs-Browser: https://github.com/bugra9/specular.git

Package: specular-snapshot
Architecture: all
Depends:
Description: Create bootable usb drives
 Specular allows you to create bootable USB drives for Windows and Linux distributions.
